body {
  padding: 0.5em;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}
.tab button {
  background-color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 20px;
  transition: background-color 0.2s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 1em 0;
  border-top: none;
}

#jsonModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2em;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
